<html>
  <head>
    <title>
      <%= @subject %>
    </title>
  </head>
  <body>
    <table>
      <tr>
        <td>
          <%= "Der User mit der email adresse #{@email} hat folgende Nachricht geschrieben" %>
        </td>
        <td>
          <%= @body %>
        </td>
      </tr>
    </table>
  </body>
</html>
