<html>
  <head>
    <title>
      <%= @subject %>
    </title>
  </head>
  <body>
    <table width:"80%" height:"80%">
      <tr>
        <td align: "center">
          <%="Hallo #{receiver.first_name}," %>
        </td>
      </tr>
      <tr>
        <td align: "center">
          <%="leider wurde die Begegnung #{course.title} mit #{@sender.first_name} abgesagt!"%>
        </td>
      </tr>
      <tr>
        <td>
          <%= "Dein Wissen • Teilen • Können\nTeam" %>
        </td>
      </tr>
    </table>
  </body>
</html>
