<html>
  <head>
    <title>
      <%= @subject %>
    </title>
  </head>
  <body>
    <table>
      <tr>
        <td>
          <%= "Lieber #{@user.first_name}, leider kommt die Begegnung mit #{@course.user.first_name} nicht zu Stande.
          Versuchs doch mit einem Begegnungswunsch, wir drücken dir die Daumen! %>
        </td>
        <td>
          Dein <a href="http://www.wissenteilen.com">
            Wissen Teilen Können
          </a> - Team
        </td>
      </tr>
    </table>
  </body>
</html>
