%p.intro Begegnungswünsche sind dazu da um etwas zu lernen, wofür noch keine passende Begegnung angeboten wird. Möchtest du einen der Wünsche erfüllen, so kannst du in der Detailansicht gleich die passende Begegnung erstellen.

%section.begegnungssearch
  = render :partial => '/shared/search', :locals => {:categories => @categories}

%section.begegnungswuensche
  = render 'shared/begegnung_new'
  #courses_div
    = render :partial => 'course_request', :collection => @course_requests
  = render 'shared/begegnung'