.container
  .row
    .span
      %h1 #{I18n.t('course_request.index.headline')}
    .span.pull-right
      - if signed_in?
        = link_to I18n.t('course_request.index.create_course_request_button'), new_course_request_path, :id => "create_course_request_button", :class => "btn"
  %br
  .row
    = render :partial => 'course_request', :collection => @course_requests
