*.rbc
*.sassc
.sass-cache
capybara-*.html
.rspec
/.bundle
/vendor/bundle
/log/*
/coverage/*
/tmp/*
.idea/
/db/*.sqlite3
/public/system/*
/coverage/
/spec/tmp/*
**.orig
rerun.txt
pickle-email-*.html
config/database.yml
config/deploy.rb
config/initializers/secret_token.rb
config/environments/production.rb
config/initializers/devise.rb
config/unicorn.rb
.rvmrc
*.swp
