// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#container {
  #static-page {
    max-width: 960px;
    margin: 0 auto;

    section.so-funktionierts {
      h4 {
        margin: 40px auto;
      }
      .steps {
        max-width: 960px;
        margin: 0 auto;

        .step {
          max-width: 300px;
          margin: 0 10px;
          float: left;
          a {
            float: right;
            margin: 20px 20px 0 0;
          }
          img {
            max-width: 300px;
          }
        }
      }
    }
    section.contact {
      max-width: 668px;
      margin: 0 auto;
    }
  }
}

