// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "wissenteilen.css.scss";

section.detail {
  article.main {
    .user-courses, .user-course-requests {
      width: 310px;
      float: left;

      article.begegnung, article.begegnungswunsch{
        width:300px;
        height:100px;

        margin:0 10px 10px 0;
        background:#ffffff;
        @include rounded(4px);
        @include shadow(rgba(0,0,0, 0.05),1px,1px,6px,0px);
        padding: 0px;

        &:hover{
          @include shadow(rgba(0,0,0, 0.15),1px,1px,8px,0px);
        }
        .begegnung-pic{
          margin: 0px;
          width:100px;
          height:100px;
        }
        section.description {
          height: 90px;
          width: 185px!important;
          padding: 5px;
          float:right;

          h2 {
            margin: 0px;
          }
          p {
            @extend small;
            margin: 0px;
          }
        }
      }

    }
    .rating-item {
      width: 580px;
      padding:10px;
      background:#ffffff;
      @include rounded(4px);
      img {
        float: left;
        margin: 0 10px 0 0;
      }
      .header {
        height: 60px;
        width: 510px;
        p {
          margin: 0px;
          font-weight: 700;
          font-size: 12px;
        }
        p.negativ { color: red; }
        p.positiv { color: green; }
      }

    }
  }
  section.user-sidebar {
    float: left;
    article.user-box,
    article.tips-box{
      @extend .side;
      width:200px;

      .user-pic {
        display:block;
        width:220px;
        height:220px;
        margin:-10px 0 10px -10px;
        position:relative;

        img{
          display:block;
          @include rounded-comb(4px, 4px, 0, 0);
        }
        h3 a {
          position:absolute;
          bottom:10px;
          left:-7px;
        }
        .icons {
          position: absolute;
          top: 0px;
          width: 220px;
          height: 61px;

          a{
            width:24px;
            height:25px;
            background-color:#ffffff;
            @include rounded-comb(0, 0, 2px, 2px);
            @include shadow(rgba(0,0,0, 0.1),0px,1px,2px,0px);
            float: right;
            margin: 0 10px 5px 0;
            padding: 3px 0 0 4px;
          }
        }
      }
      h3 a{
        padding:0 10px;
        display:inline-block;
        background:$second-color;
        word-wrap: break-word;
        font-family: "LeagueGothicRegular";
        font-size:28px;
        line-height:41px;
        color:#f1f1f1;
        width:auto;
        max-width:200px;
        @include rounded-comb(0, 4px, 4px, 0);
        text-shadow: 0px 2px 0px #49696c;
      }
      ul {
        li {
          margin: 0 0 0 15px;
          list-style: disc;
          font-size: 12px;
          line-height: 15px;
        }
      }
    }
    article.tips-box{
      h3 a {
        margin-left: -17px;
      }
    }
  }
  section.overview {
    nav {
      ul {
        li {
          list-style: none;
          float: left;
          height: 34px;
          line-height: 34px;
          text-transform: uppercase;
          margin: 0 5px 0 0;
          background: #bbbbbb;
          @include rounded-comb(4px, 4px, 0, 0);

          h2 {
            margin: 0 20px;
            a {
              color: #ffffff;
              font-weight: 400;
            }
          }

          &:hover, &.active {
            background: #ffffff;
            h2 a {
              color: #000000;
            }
          }
        }
      }
    }
    section.overview-main {
      background-color:#ffffff;
      @include rounded-comb(0, 4px, 4px, 4px);
      @include shadow(rgba(0,0,0, 0.1),0px,1px,2px,0px);
      padding: 10px;

      h3 {
        padding:0 10px;
        background:$second-color;
        word-wrap: break-word;
        font-family: "LeagueGothicRegular";
        font-size:28px;
        font-weight: 300;
        line-height:41px;
        color:#f1f1f1;
        width:auto;
        max-width:200px;
        @include rounded-comb(0, 4px, 4px, 0);
        text-shadow: 0px 2px 0px #49696c;
        margin-left: -17px;
      }
      article.overview-begegnung {
        margin: 0 0 5px 0;
        img {
          float: left;
        }
        .overview-begegnung-head {
          margin: 6px 0 0 55px;
          line-height: 20px;
          h2 {
            margin: 0px!important;
            font-weight: 400;
            text-transform: none;
          }

        }
        .overview-begegnung-body {
          margin: 0 0 0 55px;

        }
      }
    }
  }
}