@charset "UTF-8";
/* CSS Document */

/* @group html5 reset */

html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,dialog,figure,footer,header,hgroup,menu,nav,section,menu,time,mark,audio,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}body{line-height:1}article,aside,dialog,figure,footer,header,hgroup,nav,section{display:block}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:none}a{border:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:700}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted #000;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{height:1px;border:0;border-top:1px solid #ccc;display:none;margin:1em 0;padding:0}input,select{vertical-align:middle}h1,h2,h3,h4,h5,h6{font-weight:400;font-size:100%}q:before{content:"\201E"}q:after{content:"\201C"}.unsichtbar,.nurprint{position:absolute;width:1px;top:-1000px;left:-1000px}.group:after{visibility:hidden;display:block;font-size:0;content:".";clear:both;height:0}* html .group{height:1%}:first-child+html .group{min-height:1px}

/* @end */

// Variables

$main-color: #6d9f37; /* Logo-Grün */
$second-color: #1d7678; /* Petrol/Türkis */
$link-color: #43898f; /* Petrol/Türkis etwas greller für Links */
$link-color-hover: #60aab0; /* Petrol/Türkis etwas greller für Links */
$error-color: #9f3c37;


// Mixins
@mixin bubble{
  display:block;
  background-image: image-url('layout-header-dashboardnumber.png');
  background-repeat:no-repeat;
  width:33px;
  padding: 1px 2px 0 0;
  height:30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  color:#ffffff!important;
  text-shadow: 0px 2px 0px rgba(0,0,0, 0.1);
  line-height:31px;
  text-align:center;
  margin:-6px 0 0 10px;

  &:hover{
    background-position:0 -31px;
  }
}

@mixin rounded($radius: 4px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin rounded-comb($radius1: 4px, $radius2: 4px, $radius3: 0px, $radius4: 0px) {
  -webkit-border-radius: $radius1 $radius2 $radius3 $radius4;
  -moz-border-radius: $radius1 $radius2 $radius3 $radius4;
  border-radius: $radius1 $radius2 $radius3 $radius4;
}

@mixin rotate($deg: 0deg) {
  -webkit-transform: rotate($deg);
  -moz-transform: rotate($deg);
  -ms-transform: rotate($deg);
  -o-transform: rotate($deg);
  transform: rotate($deg);
}

@mixin transparancy($float: 0) {
  filter: alpha(opacity=$float*100);
  -khtml-opacity: $float;
  -moz-opacity: $float;
  opacity: $float;
}

@mixin transform_origin($x: 50%, $y: 50%) {
  transform-origin:$x $y;
  -ms-transform-origin:20% 40%; /* IE 9 */
  -webkit-transform-origin:20% 40%; /* Safari and Chrome */
  -moz-transform-origin:20% 40%; /* Firefox */
  -o-transform-origin:20% 40%; /* Opera */
}

@mixin shadow($color: rgba(0,0,0, 0.2), $px_left: 0px, $px_top: 0px, $blur: 6px, $spread:0  ){
  -webkit-box-shadow: $px_left $px_top $blur $spread $color;
  box-shadow: $px_left $px_top $blur $spread $color;
}
@mixin shadow-comb($color: rgba(0,0,0, 0.2), $px_left: 0px, $px_top: 0px, $blur: 6px, $spread:0, $color2: rgba(0,0,0, 0.2), $px_left2: 0px, $px_top2: 0px, $blur2: 6px, $spread2:0){
  -webkit-box-shadow: inset $px_left $px_top $blur $spread $color, $px_left2 $px_top2 $blur2 $spread2 $color2;
  box-shadow: inset $px_left $px_top $blur $spread $color, $px_left2 $px_top2 $blur2 $spread2 $color2;
}

// Fonts
@font-face {
  font-family: 'ChunkFiveRomanRegular';
  src: font-url('chunkfive-webfont.eot');
  src: font-url('chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('chunkfive-webfont.woff') format('woff'),
  font-url('chunkfive-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'AdelleBasic-Bold';
  src: font-url('adellebasic_bold.eot');
  src: font-url('adellebasic_bold.eot') format('embedded-opentype'),
  font-url('adellebasic_bold.woff') format('woff'),
  font-url('adellebasic_bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LeagueGothicRegular';
  src: font-url('League_Gothic-webfont.eot');
  src: font-url('League_Gothic-webfont.eot') format('embedded-opentype'),
  font-url('League_Gothic-webfont.woff') format('woff'),
  font-url('League_Gothic-webfont.ttf') format('truetype'),
  font-url('League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Layout Styles */

* {
  margin: 0;
  padding: 0;
}
.clr {
  clear: both;
}
.right {
  float:right!important;
}
.left {
  float:left!important;
}

html{
  -webkit-text-size-adjust: none;
  width:100%;
  min-height: 100%;
}
body{
  width:100%;
  min-height: 100%;
  background: image-url('layout-body.png') repeat center 0;
  font-size:15px;
  color:#494949;
  font-family: 'Merriweather', serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
}
p{
  text-shadow: 0px 1px 0px #ffffff;
}
a,a:visited,a:active{
  color:$link-color;
  text-decoration:none;
  font-style:normal;

  img{
    opacity:0.9;
  }
}
a:hover{
  color:$link-color-hover;

  img{
    opacity:1.0;
  }
}
p{
  margin-bottom:12px;

  strong, .strong{
    font-family: 'Merriweather', serif;
    font-weight:700;
  }
}


/* Header Style */

header{
  width:100%;
  height:50px;
  border-bottom:1px solid #ffffff;
  background: image-url('layout-headerbar.png') repeat center 0;
  margin:0 0 120px 0;


  nav{
    width:940px;
    padding: 14px 10px;
    margin:0 auto;

    li, a{
      color:#a9a9a9!important;
      text-transform:uppercase;
      line-height:21px;
      font-size:14px;
      font-family: 'Open Sans', sans-serif;
      font-weight:regular;
      display:block;
      float:left;

    }
    a.active, a.active:hover{
      color:#ffffff!important;
    }
    a:hover {
      color: #dedede!important;
      cursor: pointer;
      text-decoration:none;
    }

    ul{
      list-style:none;
      display:block;
      border-left:#000000 1px solid;
      border-right:#41403e 1px solid;
      width:auto;
      height:21px;
      overflow:visible;

      li{
        padding:0 15px;
        height:21px;
        width:auto;
        float:left;
        border-left:#41403e 1px solid;
        border-right:#000000 1px solid;
        position:relative;

        ul{
          position:absolute;
          z-index:99;
          top:36px;
          right:0;
          width:180px;
          height: 156px;
          border:0px;
          display: none;
          padding:10px 10px 0 10px;
          background: image-url('layout-headerbar.png') repeat 0 0;
              border-top:#8b8b8a 1px solid;
              @include rounded-comb(0, 0, 4px, 4px);

          li{
            border:0px;
            height:28px;
            font-size:11px;
            height:28px;
            line-height:28px;
            width:100%;
            padding:0;
            float:left;
            &:first-child{

            }
            &:last-child{
            }
            a{
              width:150px;
              padding:0 0 0 30px;
              display:block;
              font-size:11px;
              height:28px;
              line-height:28px;
              background-repeat:no-repeat;
              background-position:6px 4px;

              &#nav-select2-dashboard{
                background-image: image-url('layout-iconmini-dashboard.png');
              }
              &#nav-select2-profile{
                background-image: image-url('layout-iconmini-profile.png');
              }
              &#nav-select2-profilesettings{
                background-image: image-url('layout-iconmini-profilesettings.png');
              }
              &#nav-select2-accountsettings{
                background-image: image-url('layout-iconmini-settings.png');
              }
              &#nav-select2-logout{
                background-image: image-url('layout-iconmini-logout.png');
              }
            }
          }
        }
      }
    }

    ul#navi{

    }
    ul#navi-user{
      float:right;
      margin-top:-21px;

      #nav-dashboard{
        padding-left:24px;
        background: image-url('layout-iconmini-dashboard.png') no-repeat 0 0;
      }
      #nav-dashboard-indicator{
        @include bubble;
      }
      .nav-dashboard-indicator-new{
        background-position:0 -62px;

        &:hover{
          background-position:0 -93px !important;
        }
      }
      #nav-profile-avatar{
        display:block;
        width:45px;
        height:45px;
        margin:-12px 0 0 10px;

        &:hover{
        }
      }

      #nav-profile-dropdown{
        display:block;
        padding:0 10px;
        width:9px;
        height:21px;
        text-indent:-1000px;
        overflow:hidden;
        background-image: image-url('layout-header-arrowdown.png');
        background-repeat:no-repeat;
        background-position:10px 0;
        margin:0 -10px 0 0;

        &:hover{
          background-position:10px -21px;
        }
      }
    }
  }
  h6#logo{
    width:150px;
    height:150px;
    margin:-42px auto;
    display:block;
    position:relative;
    z-index:9;

    a{
      display:block;
      width:100%;
      height:100%;
      text-decoration:none;
      border:0px;
      background: image-url('layout-logo-wissenteilen.png');
      text-indent:-1000px;
      overflow:hidden;

      &:hover{
        opacity:0.95;
      }
    }
  }
}

/* Feedback Button */

#feedback-button{
  width:37px;
  height:130px;
  background-color:$second-color;
  @include rounded-comb(4px, 0, 0, 4px);
  background-image: image-url('layout-feedback.png');
  background-repeat:none;
  background-position:1;
  position:absolute;
  right:0;
  top:180px;
  display:block;
  text-indent:-1000px;
  overflow:hidden;

  &:hover{
    background-color:$link-color;
  }
}


/* Content Styles */

#container{
  width:960px;
  margin:0 auto;
}
h1{
  font-family:"AdelleBasic-Bold", Helvetica, Arial, sans-serif;
  font-size:52px;
  color:$second-color;
  text-shadow:none;
  line-height:58px;
  margin-bottom:14px;
	margin-left:10px;
}
h2 {
  color:#201f1f;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size:15px;
  text-transform:uppercase;
  margin:18px 0 12px
}
h3, h4 {
  font-family: "LeagueGothicRegular", Helvetica, Arial, sans-serif;
  color: $second-color;
  font-weight: normal;
}

.small, small{
  font-size:12px;
  line-height:18px;
  margin-bottom:12px;
}

.alert {
  margin: 20px 0;
  border: 1px solid #111111;
  width: auto;
  padding: 10px 20px;
  margin: 10px;
  @include rounded(3px);
}

.alert-error, .alert-alert {
  color: #B94A48;
  background-color: #F2DEDE;
  border-color: #EED3D7;
}

.alert-info, .alert-notice {
  color: #468847;
  background-color: #DFF0D8;
  border-color: #468847;
}

h1.balken, h4.balken {
  text-align: center;
  font-family: "AdelleBasic-Bold", Helvetica, Arial, sans-serif;;
  color: white;
  text-shadow: rgba(0, 0, 0, .2) 0px 3px 0px;
  margin: 0 auto;
}
h4.balken {
  width: 418px;
  height: 64px;
  background: image-url('layout-h4-balkenbg.png');
  line-height: 68px;
  font-size: 36px;
}
h1.balken {
  width: 668px;
  height: 100px;
  background: image-url('layout-h1-balkenbg.png');
  line-height: 100px;
  font-size: 54px;
  margin-bottom:20px;
}

p.intro {
  display: block;
  width: 660px;
  margin: 0 auto 20px auto;
  text-align: center;
}


/* Begegnungssuche */

section.headerimg{
  width:940px;
  height:300px;
  float:left;
  margin:10px;
  @include rounded(4px);
  @include shadow(rgba(0,0,0, 0.05),1px,1px,6px,0px);
  overflow:hidden;
  position:relative;

  img{
    width:100%;
    @include rounded(4px);
    position:absolute;
  }
  h1{
    position:relative;
    margin:30px 0 20px 24px;
    color:$second-color;
    text-shadow:none;
  }
  .headerimg-intro{
    position:relative;
    margin:0 0 0 24px;
    width:380px;
  }
}
section.begegnungssearch{
  width:940px;
  margin:10px 10px 0;
  float:left;
  clear:both;

  ul{
    list-style:none;
    width:100%;
    height:160px;
    clear:both;

    li{
      list-style:none;
      display:block;
      width: 94px;
      height:150px;
      float:left;

      a{
        display:block;
        padding:100px 0 0 0;
        width: 94px;
        height:29px;
        margin:0 auto;
        font-family: 'Open Sans', sans-serif;
        font-size:12px;
        line-height:16px;
        color:#c8c7c6;
        text-align:center;
        text-shadow:none;
        background-image: image-url('layout-kategorien.png');
        background-repeat:none;
        background-position:0 0;

        &:hover{
          color:#505151;
          cursor:pointer;
        }
        &.active{
          color:$second-color;
        }

        @for $i from 1 through 10 {
                      &#cat-#{$i} { background-position: -(94px * ($i - 1)) 0px; }
                      &#cat-#{$i}:hover { background-position: -(94px * ($i - 1)) -129px; }
                      &#cat-#{$i}.active { background-position: -(94px * ($i - 1)) -258px; }
                  }

      }
    }
  }
  #form-input-location{
    background-image: image-url('layout-icon-location.png');
    background-repeat: no-repeat;
    background-position:10px 12px;
    padding:12px 290px 12px 48px;
    width:602px;
    height:33px;
    margin-right:5px;
    margin-bottom:20px;
  }
  .submit-field-icon{
    position:relative;
    float:right;
    margin:-76px 1px 0 0 ;


    #form-submit-search{
      padding-left:48px;
      width:280px;
      margin-right:0;
    }
    span{
      position:absolute;
      top:10px;
      left:10px;
      background-image: image-url('layout-icon-search.png');
      background-repeat: no-repeat;
      background-position:0 0;
      display:block;
      width:32px;
      height:32px;
    }
  }
}

/* Login Section */

section.login{
  width:420px;
  float:left;
  margin:40px 230px 0;
  padding: 20px 40px;
  background:#ffffff;
  @include rounded(4px);
  @include shadow(rgba(0,0,0, 0.05),1px,1px,6px,0px);
  
  &+section.login{
    margin-top:20px;
  }
  h4.balken{
    margin-top:-51px;
    margin-bottom:30px;
  }
  
  fieldset{
    padding:0px;
    
    div{
      label{
        width:220px;
        display:none;
      }
      input,textarea{
        width:378px;
      }
      
      #remember_label{
        display:block!important;
        font-size:12px;
        line-height:15px;
        margin: -18px 0 0 30px;
      }
    }
    button.form-nextstep{
      margin-top:10px;
      width:215px;
      
    }
  }
  a.facebook-login{
    margin:0 auto;
  }
  
  
}

/* Begegnungen gefunden */

section.begegnungen, section.begegnungswuensche{
  clear:both;
	
	article.begegnungswunsch,
	article.begegnung{
    width:200px;
    height:416px;

    margin:10px;
    padding:10px;
    float:left;
    background:#ffffff;
    @include rounded(4px);
    @include shadow(rgba(0,0,0, 0.05),1px,1px,6px,0px);

    &:hover{
      @include shadow(rgba(0,0,0, 0.15),1px,1px,8px,0px);
    }
    .begegnung-pic,
		.begegnungswunsch-title{
      display:block;
      width:220px;
      height:220px;
      margin:-10px 0 10px -10px;
      position:relative;

      img{
        display:block;
        @include rounded-comb(4px, 4px, 0, 0);
      }
      h3{
        position:absolute;
        display:inline-block;
        background:$second-color;
        word-wrap: break-word;
        font-family: "LeagueGothicRegular";
        font-size:28px;
        line-height:41px;
        color:#f1f1f1;
        padding:0 10px;
        bottom:10px;
        left:-7px;
        width:auto;
        max-width:200px;
        @include rounded-comb(0, 4px, 4px, 0);
        text-shadow: 0px 2px 0px #49696c;
      }
      .begegnung-categories {
        position: absolute;
        top: 0px;
        width: 220px;
        height: 61px;

        span{
          display:none;
          width:28px;
          height:28px;
          background-image: image-url('layout-kategorien-small.png');
          background-repeat:0;
          background-position:0 0;
          background-color:#ffffff;
          @include rounded-comb(0, 0, 2px, 2px);
          @include shadow(rgba(0,0,0, 0.1),0px,1px,2px,0px);
          float: right;
          margin: 0 5px 5px 0;

          @for $i from 1 through 10 {
              &.cat-#{$i} { background-position: -(28px * ($i - 1)) 0px; }
          }
        }
      }
    }

    .form-button-petrol{
      margin-bottom:12px;
    }
    p.begegnung-infos{

      font-family: 'Open Sans', sans-serif;
      font-size:12px;
      line-height:16px;
      color:#2f2f2e;
      margin-bottom:12px;

      img{
        float:left;
        margin-right:10px;
      }
    }
    p.begegnung-text{
      font-size:12px;
      line-height:20px;
      margin-bottom:12px;
      word-wrap: break-word;
    }
  }
}


/* SHOW */

section.detail{
  width:100%;

  article.main{
    width:620px;
    margin:10px;
    float:left;
		
		h1{
			margin-left:0;
		}
    h3{
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      font-size:14px;
      line-height:18px;
      margin-bottom:12px;
			
			span.category-title{
				display:inline-block;
			}
			
    }

    h2{
      color:#201f1f;
      font-family: 'Open Sans', sans-serif;
      font-weight: 700;
      font-size:15px;
      text-transform:uppercase;
      margin:18px 0 12px 0;
    }
    ul.rating {
      list-style:none;
      text-align: center;
      li {
        display: inline-block;
        zoom: 1;
        *display:inline;
        span {
          height: 36px;
          line-height: 36px;
          display: inline-block;
          &:first-child {
            text-align: center;
            font-weight: bold;
            color: black;
            width: 36px;
            background: image-url('layout-wobbles-36x36.png') no-repeat;
          }
          &:last-child {
            margin: 0 5px 0 10px;
          }
        }
      }
    }
  }
  article.side{
    width:280px;
    float:left;
    margin:10px;
    padding:10px;
    background:#ffffff;
    @include rounded(4px);
    @include shadow(rgba(0,0,0, 0.05),1px,1px,6px,0px);

    .pic{
      margin:-10px 0 0 -10px;
      float:left;
      position:relative;
      display:block;

      @include rounded-comb(4px, 4px, 0, 0);

      img{
        display:block;
        @include rounded-comb(4px, 4px, 0, 0);
      }
      span{
        display:block;
        width:28px;
        height:28px;
        padding:0;
        position:absolute;
        background-image: image-url('layout-iconminipetrol-zoom.png');
        background-repeat:no-repeat;
        background-position:4px 4px;
        background-color:#ffffff;
        @include rounded-comb(2px, 2px, 0, 0);
        @include shadow(rgba(0,0,0, 0.1),0px,1px,-2px,0px);
        bottom:0;
        right:10px;
      }
    }
    ul.userinfo {
      list-style:none;
      margin:20px 0 15px 0;
      @extend .small;

      span {
        height: 24px;
        line-height: 24px;

        &:first-child {
          width: 100px;
          display: inline-block;
        }
        &:last-child {
          width: 120px;
          display: inline-block;
        }
      }
    }

    ul.rating {
      list-style:none;
      @extend .small;
      li {
        float: left;

        span {
          height: 28px;
          line-height: 28px;

          &:first-child {
            display: inline-block;
            text-align: center;
            font-weight: bold;
            color: black;
            width: 28px;
            background: image-url('layout-wobbles-28x28.png') no-repeat;
          }
          &:last-child {
            margin: 0 0 0 10px;
          }
        }
      }
    }

    .facts{
      list-style:none;
      margin:10px 0 20px 0;

      li{
        height:36px;
        margin-bottom:4px;
        line-height:36px;
        width:100%;
        float:left;

        span{
          display:block;
          width:36px;
          height:36px;
          margin-right:10px;
          margin-left:-10px;
          float:left;
          background-color:$second-color;
          background-position:6px 6px;
          background-repeat:no-repeat;
          @include rounded-comb(0, 4px, 4px, 0);
        }

        &.date span{
          background-image: image-url('layout-icon-24x24-date.png');
        }
        &.time span{
          background-image: image-url('layout-icon-24x24-time.png');
        }
        &.location span{
          background-image: image-url('layout-icon-24x24-location.png');
        }
        &.people span{
          background-image: image-url('layout-icon-24x24-people.png');
        }
        &.course_host_count span{
          background-image: image-url('layout-icon-24x24-gehalten.png');
        }
        &.course_client_count span{
          background-image: image-url('layout-icon-24x24-teilgenommen.png');
        }
      }
    }
    .begegnung-host{
      img{
        float:left;
        margin:0 10px 0 -17px;
      }
      h4{
        line-height: 26px;
        font-size:28px;
        margin-bottom:18px;
      }
      .host-description {
        min-height: 70px;
      }
    }
    .host-interaction{
      background: image-url('layout-hr-sidebar-300.png') no-repeat center center;
      padding:10px 92px 20px;
      height:48px;

      a, button{
        display:block;
        float:left;
        width:48px;
        height:48px;
        background-repeat:none;
        background-position:0 0;
        background-color:transparent;
        text-indent:-1000px;
        overflow:hidden;
        opacity:0.9;
        border: none;

        &.button-profil{
          background-image: image-url('layout-icon-special48-profile.png');
        }
        &.button-message{
          background-image: image-url('layout-icon-special48-message.png');
          cursor:pointer;cursor:hand;
        }
        &:hover{
          opacity:1.0;
        }
      }
    }
  }

}

/* Social Media */
.social-media-buttons {
  .g-plusone, .fb-like {
    line-height: 20px!important;
  }
}

/* Columns */

.column-4{
  width:220px;
  margin:10px;
  float:left;
  
  .host-interaction{
  padding:10px 62px 20px;
  height:48px;

    a, button{
      display:block;
      float:left;
      width:48px;
      height:48px;
      background-repeat:none;
      background-position:0 0;
      background-color:transparent;
      text-indent:-1000px;
      overflow:hidden;
      opacity:0.9;
      border: none;
  
      &.button-profil{
        background-image: image-url('layout-icon-special48-profile.png');
      }
      &.button-message{
        background-image: image-url('layout-icon-special48-message.png');
        cursor:pointer;cursor:hand;
      }
      &:hover{
        opacity:1.0;
      }
    }
  }
}
.center{
  text-align: center;
}
.two-columns{
  padding:10px;
  -moz-column-count: 2;
  -moz-column-gap: 40px;
  -webkit-column-count: 2;
  -webkit-column-gap: 40px;
  column-count: 2;
  column-gap: 40px;
  margin-top:20px;
  
  h2{
    margin-top:0;
    
    &+h2{
      margin-top:18px;
    }
  }
}

/* Overview */

#course-member-indicator{
  @include bubble;
  margin: -10px 10px 0 0;
}

.course-member-indicator-new{
  background-position:0 -62px;

  &:hover{
    background-position:0 -93px !important;
  }
}


/* Footer Styles */

footer{
  display:block;
  float:left;
  background: image-url('layout-hr.png') no-repeat center 0;
  margin:80px 0 0 0;
  padding:60px 0 60px 0;

  h6{
    color:#6b6b6b;
    font-size:28px;
    font-family: "LeagueGothicRegular";
    font-weight:normal;
    margin-bottom:18px;
  }
  p{
    font-size:12px;
    line-height:20px;
    margin-bottom:12px;
  }
  section{
    float:left;
    margin:0 10px;

    &.footer-column{
      width:140px;

      ul{
        list-style:none;

        li{
          height:20px;
          a{
            font-size:12px;
            line-height:20px;
          /*color:#494949;*/
          }
        }
      }
    }
    &.footer-column-wide{
      width:460px;
    }
  }
}
