@charset "UTF-8";
/* CSS Document */

@import "wissenteilen.css.scss";

/* Form Styles */

input{
  font-size:24px;
  display:inline-block;
  color:#b5b5b5;
  margin:0px;
  font-family: 'Merriweather', serif;
  @include rounded(4px);
  height:28px;
  line-height:28px;
  padding:12px 12px;
  border:1px solid #e4e4e4;
  @include shadow-comb(rgba(0,0,0, 0.1),0,1px,3px,0px,rgba(255,255,255, 0.5),0,1px,3px,0px);
  background:#ffffff;
  font-weight:300;
  float:left;

  &:focus {
    border:1px solid #dddddd;
    @include shadow-comb(rgba(0,0,0, 0.2),0,1px,5px,0px,rgba(255,255,255, 0.7),0,1px,4px,0px);
  }
}
input.form-submit, button.form-submit, input.form-button-petrol,
a.form-submit, a.form-button-petrol,{
  height: 53px;
  font-family: "LeagueGothicRegular";
  font-size: 37px;
  line-height: 50px;
  color: white;
  padding: 0 15px;
  border: none;
  display: block;
  text-align:center;
  color:#f1f1f1;
  @include rounded(4px);
  text-shadow: 0px 2px 0px rgba(0,0,0,0.08);
  background-image: image-url('button-green-main.png');
  background-repeat: repeat-x;
  font-weight:normal;

  &:hover{
    background-position:0 -53px;
    outline: none;
    color:#ffffff;
  }
}
input.form-button-petrol, a.form-button-petrol{
  background-image: image-url('button-petrol-main.png');
}
input:focus, textarea:focus, select:focus{
  outline: none;
}
form-nextstep,a.form-nextstep,button.form-nextstep,
form-msg, a.form-msg, button.form-msg
{
  padding-left:48px;
  margin-right:0;
  position:relative;

  span{
    position:absolute;
    top:10px;
    left:10px;
    background-image: image-url('layout-icon-nextstep.png');
    background-repeat: no-repeat;
    background-position:0 0;
    display:block;
    width:32px;
    height:32px;
  }
}
form-msg, a.form-msg, button.form-msg {
  span{
    background-image: image-url('layout-icon-message.png');
  }
}
fieldset{
	padding:10px;
	display:block;
	float:left;
	
	legend{
  	@include rounded(4px);
		font-family: 'Open Sans', sans-serif;
		background:rgba(88,126,129,0.1);
		height:40px;
		line-height:40px;
		display:block;
		width:900px;
		padding:0 20px;
  	text-shadow: 0px 1px 0px #ffffff;
		margin: 0 0 20px 0;
	}
	div{
		clear:both;
		min-height:50px;
		margin:4px 0;
		display:block;
		float:left;
		
		input{
			font-size:15px;
			line-height:23px;
			color:#494949;
			font-weight:400;
			width:700px;
			padding:9px 20px;
			float:left;
		}
		label{
			width:220px;
			margin-right:20px;
			float:left;
		}
	}
}
		
