%h1 Bestätigungs-Code erneut zusenden
= form_for(resource, :as => resource_name, :url => unlock_path(resource_name), :html => { :method => :post }) do |f|
  %fieldset
    %div
      = f.label :email
      = f.email_field :email

    %button.form-submit.form-nextstep.right
      Bestätigungs-Code erneut zusenden
      %span

  = render "links"
