%section.detail
  = render :partial => '/course_members/show/sidebar', :locals => { :course => @course_member.course }
  %article.main
    %h1 Deine Anfrage

    %section.course-member-main

      = render(:partial => '/course_member_conversations/course_member_message', :collection => @course_member.course_member_conversations) || "keine"
      %br
      %h2 Neue Antwort:
      = render :partial => '/course_member_conversations/form', :locals => { :cmc => @course_member_conversation, :course => @course_member.course, :form_path => :reply_course_member_conversations, :button_text => "Antworten"}

