%section.detail
  = render :partial => '/users/shared/user_sidebar', :locals => { :user => @user }
  %article.main
    %section.overview
      = render :partial => '/users/shared/overview_header'
      %section.overview-main
        %h3 Eigene Wünsche
        = render(:partial => 'users/overview/course_request', :collection => @user.get_course_requests) || "keine"

        %br
        %a.form-button-petrol.form-nextstep{:href => url_for(new_course_request_path), :style => 'width: 400px; margin: 0 auto;'}
          Neuen Begegnungswunsch erstellen
          %span
