= javascript_include_tag 'rails.validations'

%h2 Einstellungen ändern


= link_to 'Benutzer löschen', registration_path(current_user), :confirm => 'Sind Sie sicher? Ihr Benutzerkonto wird unwiederruflich gelöscht', :method => :delete, :class => 'form-button-petrol'