%article.begegnung#begegnung-new
  %p.begegnung-text= link_to image_tag('begegnungen/layout-begegnungswunsch-new.png', :alt => 'Neuen Begegnungswunsch erstellen'), new_course_request_path, :class => 'begegnung-pic'
  %p.begegnung-text
    = link_to 'Neuer Wunsch', new_course_request_path, :class => 'form-button-petrol'
    Für dich war hier nichts dabei? Dann ergreif du doch Initiative und erstelle einen Wunsch. Vielleicht meldet sich schon bald jemand bei dir.
    %br
    = link_to 'Neuer Begegnungswunsch', new_course_request_path
