.social-media-buttons
  #fb-root
  .g-plusone{ 'data-size' => 'small' }
  .fb-like{ 'data-href' => special_url.nil? ? 'https://www.facebook.com/wissenteilen' : special_url, 'data-send' => 'true', 'data-layout' => 'button_count', 'data-width' => '180', 'data-show-faces' => 'false'}

  :javascript
    window.___gcfg = {lang: 'de'};

    (function() {
      var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
      po.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
    })();

    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/de_DE/all.js#xfbml=1&appId=234910589931839";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));