#static-page
  %h1.balken Die Idee

  %iframe{:src => "http://player.vimeo.com/video/43348184", :width => "600", :height => "337", :frameborder => "0", :style => 'margin: 20px 185px 30px;'}

  %p.intro
    Wissen • Teilen • Können ist eine online Plattform, die Menschen ermöglichen soll sich je nach Interessensgebiet zu finden, um sich anschließend - im echten Leben - zu treffen und auszutauschen.
    %br
    %br
    Jeder von von hat bestimmte Kenntnisse und Fähigkeiten! Diese gilt es mit einander zu teilen! Seine Ideen und Erfahrungen in anderen weiterwachsen zu lassen! Andere Sichtweisen kennenzulernen! Seiner Neugier zu folgen!
    %br
    %br
    Hört in euch hinein, teilt mit anderen eure Fähigkeiten,  lernt und probiert aus, worauf ihr schon immer neugierig wart. Begegnet eurer Stadt und ihren Bewohnern, lernt eure Nachbarn kennen, entdeckt die verborgenen Schätze in euch selbst und euren Mitmenschen!
