#static-page
  %h1.balken So funktioniert's
  
  %section.so-funktionierts
  
    .steps
      .step
        = image_tag 'sofunktionierts/wissenteilen-schritt1-suchen.png'
        %h2 Finden
        %p.small
          Finde in den 10 Kategorien die Begegnungen, die dich interessieren oder Menschen, die etwas von dir lernen möchten.
    
      .step
        = image_tag 'sofunktionierts/wissenteilen-schritt2-anfragen.png'
        %h2 Kontaktieren
        %p.small
          Sende eine kurze, persönliche Anfrage um an einer Begegnung teilzunehmen.
    
      .step
        = image_tag 'sofunktionierts/wissenteilen-schritt3-begegnung.png'
        %h2 Begegnen
        %p.small
          Nachdem alles ausgemacht ist, trefft euch. Tauscht euch aus. Lernt Neues und teilt Bekanntes.

  .clr
  
  %section.so-funktionierts
  
    %br
    %h2 Schritt für Schritt 

    %p Um an Begegnungen teilzunehmen oder selber welche anzubieten, musst Du Dich auf Wissen • Teilen • Können  registrieren.

    %h2 Bei der Registrierung gibst Du: 
    %br  * Deinen Vor- und Nachnamen an (wir wollen uns ja kennenlernen, hier geht’s nicht um Anonymität)
    %br  * Deine Postleitzahl (um den Begegnungsradius zu bestimmen)
    %br  * Deine E-mail Adresse (damit wir Dich über Aktivitäten benachrichtigen können)
    %br  und schließlich ein Passwort an
    %br  oder
    %br  Du registrierst Dich mit Deinem Facebook-Account
    -
    %p Nachdem das abgeschlossen ist, bekommst Du eine Nachricht auf die von Dir angegebene E-Mail Adresse. Diese beinhaltet einen Aktivierungs-Link für Dein Benutzerkonto.
    -
    %p Nun kannst Du Dich das erste Mal anmelden.
    -
    %p Nach der Anmeldung kommst Du automatisch auf Deine persönliche Übersichtsseite. Hier kannst Du Dein Profil bearbeiten, siehst Deine Aktivitäten, Nachrichten und kannst Deine Begegnungen verwalten. Die Übersichtsseite gibt Dir einen schnellen Überblick und ist Startpunkt aller Navigation.
    -
    %p Bevor Du loslegst, nimm Dir ein wenig Zeit um Dein Profil einzurichten. Es hilft anderen Nutzern dabei, sich ein Bild von dir zu machen. Ein ausgefülltes Profil erhöht die Chancen an einer Begegnung teilzunehmen sehr stark.
    Überlege Dir, was Dir selbst wichtig wäre über eine andere Person zu wissen um ein gutes Gefühl zu haben.
    -
    %p Als erstes gib bitte stichpunktartig Ausbildung | Beruf | Fähigkeiten und Interessen an, 
    dann hast Du 400 Zeichen um Dich vorzustellen.
    Anschließend beantworte bitte die Frage, warum Du auf Wissen • Teilen • Können  bist und
    lade ein Foto von dir hoch. Das Foto ist eine weitere Möglichkeit für die anderen einen Eindruck über Dich zu gewinnen.
    Du kannst auch Deine Website oder Deinen Socialnetwork-Account angeben, wenn Du die anderen mehr über Dich erfahren lassen möchtest.
    -
    %p Du kannst Dein Profil jederzeit bearbeiten.


    %h2 Was ist eine Begegnung?
    %p Eine Begegnung ist ein reales Treffen bei dem man sich direkt austauscht. Dabei steht ein bestimmtes Thema im Mittelpunkt. Wenn Du eine Sache gerne tust oder Dich mit einem bestimmten Thema gut auskennst, kannst Du eine Begegnung vorschlagen um diese Sache oder das Thema anderen nahe zu bringen.
    oder
    Du findest eine Begegnung die jemand anderes vorgeschlagen hat und nimmst daran teil.

    %h2 Neue Begegnung erstellen
    %p Das kannst Du über den Link “Erstelle eine neue Begegnung” in der linken Spalte auf Deiner Übersichtsseite
    oder
    unter dem Menüpunkt Begegnungen, via Klick auf “Neue Begegnung”
    oder 
    unter dem Menüpunkt Begegnungswünsche, innerhalb eines Wunsches, via Klick auf “Wunsch erfüllen”
    -
    %h2 Schritt 1
    %p Wähle als erstes einen prägnanten Titel für Deine Begegnung. 
    und ordne ihr dann max. drei Kategorien zu, in die sie thematisch passt.
    Gib Datum und Uhrzeit Deiner Begegnung, sowie Land und Postleitzahl, wo diese stattfindet, an.
    Im Punkt “Verfügbare Plätze” gibst Du Deine gewünschte Teilnehmerzahl an.
    Dann klicke auf “Weiter Schritt 2”

    %h2 Schritt 2
    %p Hier kannst Du ein Foto für Deine Begegnung hochladen. Wenn Du kein passendes hast kannst Du auf einer Stockfotoseite ein lizenzfreies Foto suchen:
    http://www.pixelio.de

    %p Wenn kein Bild hochgeladen wird, erscheint ein Platzhalterbild über Deiner Begegnung.

    %h2  Jemand will an Deiner Begegnung teilnehmen:
    %p Sobald Du Deine Begegnung erstellt hast, ist sie unter dem Menüpunkt Begegnungen für alle sichtbar. Nun können andere Benutzer mit dir in Kontakt treten indem sie Dir eine Anfrage für Deine Begegnung schicken. Dann bekommst Du eine Mail an die von Dir angegebene E-Mail Adresse mit einem Link zu dem Profil des/der Interessenten/in und einen zur angefragten Begegnung. Dort kannst Du über den Button Verwalten die Anfrage einsehen, beantworten, annehmen oder ablehnen.

    %h2 In Kontakt treten, genaueres ausmachen:
    %p Alle, die Du zu Deiner Begegnung zugelassen hast, können nun auf der Seite Deiner Begegnung ins Forum schreiben. Hier könnt ihr allgemeine Fragen klären. Wenn Du mit jemandem privat etwas austauschen oder besprechen möchtest, könnt ihr das über die Nachrichtenfunktion machen. Einfach jeweils aufs Profil klicken und dort eine Nachricht schreiben.

    %h2 Was ist ein Begegnungswunsch?
    %p Wenn Dich ein spezielles Thema interessiert oder Du etwas ausprobieren und lernen möchtest, das bisher nicht bei den Begegnungsvorschlägen dabei war, kannst Du einen Begegnungswunsch erstellen. Darin beschreibst Du kurz was genau und warum es Dich interessiert. Andere können sich an Deinem Wunsch beteiligen. Wenn dann jemand Deinen Wunsch erfüllen möchte, werden alle interessierten darüber informiert.

    %h2 Neuen Begegnungswunsch erstellen
    %p Das kannst Du über den Link “Erstelle einen neuen Wunsch” in der linken Spalte auf Deiner Übersichtsseite
    oder
    unter dem Menüpunkt Begegnungswünsche, via Klick auf “Neuer Wunsch”
    -
    %h2 Überlege Dir als erstes einen prägnanten Titel für Deine Wunsch. 
    %p Im nächsten Feld, hast Du Platz für eine genauere Beschreibung was Du dir vorstellst. Anschließend wähle max. drei Kategorien


    %h2 Ein Durchlauf
    %p Du hast unter den bereits vorgeschlagenen Begegnungen eine gefunden die Dich interessiert. Beispielsweise “Fahrrad reparieren” mit Manuel. Laut der Beschreibung zeigt Manuel wie man Schläuche austauscht, Reifen wechselt, Platten flickt, Rost entfernt und andere Handgriffe um das geliebte Fahrrad wieder in Schuss zu bringen. Nachdem Du Dir Manuels’ Profil angeschaut hast und nun einen sympathischen Eindruck von ihm hast, kehrst Du auf seinen Begegnungsvorschlag zurück und drückst den Button “Teilnahme anfragen”. Es erscheint ein Feld in das Du Deine kurze persönliche Anfrage schreiben kannst. (Neben Deinem Profil, ist die Art Deiner Anfrage eine Entscheidungsgrundlage Dich an einer Begegnung teilnehmen zu lassen, also sei ehrlich und freundlich!) Sobald Du auf “Anfrage senden” klickst, wird Manuel benachrichtigt. Er wird sich Deine Anfrage Durchlesen, Dein Profil ansehen und sich dafür entscheiden Deine Anfrage anzunehmen oder abzulehnen. In beiden Fällen wirst Du per Mail benachrichtigt und kannst in Deiner Übersicht unter “Andere Begegnungen” sehen, ob Du dabei bist.
    Bist Du dabei, ist in der Begegnungsübersicht nun ein Forum sichtbar, hier können sich alle Teilnehmer der Begegnung austauschen, die Anfahrt planen, Fragen stellen und allfälliges bezüglich der Organisation abklären. Ist die Begegnung nur für eine Person gedacht, könnt ihr euch alles auch über persönliche Nachrichten ausmachen.
    Du und Manuel steht in Kontakt, das Datum steht fest, der Treffpunkt ist ausgemacht und ihr habt zur Sicherheit Handynummern ausgetauscht. Ihr trefft euch, lernt euch kennen und Manuel bringt Dir bei wie Du Dein Fahrrad wieder fahrtüchtig machst. Ihr könnt eure Begegnung ganz nach Lust und Laune gestalten.
    Nachdem der Termin eurer Begegnung stattgefunden hat erhälst Du von Wissen • Teilen • Können eine Mail mit der Bitte um Feedback und einem Link zu Manuels Profil. Dort kannst Du die Begegnung mit Manuel als “positiv”/”neutral”/”negativ” bewerten und auch ein paar Worte dazu schreiben. Verbesserungsvorschläge sind immer Willkommen.
    Mit Deinem Feedback, bestätigst Du, dass die Begegnung stattgefunden hat und gibst anderen die Möglichkeit sich noch ein Stück mehr zu orientieren, wenn sie Manuels Profil ansehen.

