#static-page
  %h1.balken So funktioniert's
  
  %section.so-funktionierts
  
    .steps
      .step
        = image_tag 'sofunktionierts/wissenteilen-schritt1-suchen.png'
        %h2 Finden
        %p.small
          Finde in den 10 Kategorien die Begegnungen, die dich interessieren oder Menschen, die etwas von dir lernen möchten.
    
      .step
        = image_tag 'sofunktionierts/wissenteilen-schritt2-anfragen.png'
        %h2 Kontaktieren
        %p.small
          Sende eine kurze, persönliche Anfrage um an einer Begegnung teilzunehmen.
    
      .step
        = image_tag 'sofunktionierts/wissenteilen-schritt3-begegnung.png'
        %h2 Begegnen
        %p.small
          Nachdem alles ausgemacht ist, trefft euch. Tauscht euch aus. Lernt Neues und teilt Bekanntes.

  .clr
  
  %section.so-funktionierts
  
    %h4.balken FAQ
    
    %p.intro
      Wissen • Teilen • Können ist derzeit in der Beta-Phase und im Aufbau. Daher haben wir für diese Sektion noch keine Inhalte veröffentlicht. Solltest du Fragen haben zur Funktionalität unserer Plattform oder einen Fehler gefunden haben würden wir uns über deine Nachricht freuen.
      =link_to "Zum Kontaktformular ...", contact_path
  