%h1= I18n.t('pages.help.title')

Mein Dashboard.
%br>/
Neue Begegnung erstellen.
%br>/
Neuen Begegnungswunsch erstellen.
%br>/
Sich für einen Begegnungswunsch interessieren.
%br>/
Einen Begegnungswunsch erfüllen.
%br>/
Meine Begegnungsvorschläge verwalten.
%br>/
Mein Profil
%br>/
Kategorien abonnieren / abmelden.
%br>/
F.A.Q.
%br>/
Wie funktioniert WTK?
%br>/
Was ist wenn ich mich gegen eine Anfrage entscheide?
%br>/
Wie funktionieren Begegnungswünsche?
%br>/
Wie kann ich die Chancen verbessern eine passende Begegnung zu finden?
%br>/
Darf ich für meinen Aufwand Geld verlangen?
%br>/
Wie kann ich einen Kurs vormerken?
%br>/
Privatsphäre.
%br>/
Feedbackmöglichkeiten."
wissenteilen.com
%br/
