#static-page
  %h1.balken So funktioniert's'

  %h2 Mein Dashboard
  %p ...

  %h2 Neue Begegnung erstellen.
  %p ...

  %h2 Neuen Begegnungswunsch erstellen.
  %p ...

  %h2 Sich für einen Begegnungswunsch interessieren.
  %p ...

  %h2 Einen Begegnungswunsch erfüllen.
  %p ...

  %h2 Meine Begegnungsvorschläge verwalten.
  %p ...

  %h2 Mein Profil
  %p ...

  %h2 Kategorien abonnieren / abmelden.
  %p ...

  %h2 F.A.Q.
  %p ...

  %h2 Wie funktioniert WTK?
  %p ...

  %h2 Was ist wenn ich mich gegen eine Anfrage entscheide?
  %p ...

  %h2 Wie funktionieren Begegnungswünsche?
  %p ...

  %h2 Wie kann ich die Chancen verbessern eine passende Begegnung zu finden?
  %p ...

  %h2 Darf ich für meinen Aufwand Geld verlangen?
  %p ...

  %h2 Wie kann ich einen Kurs vormerken?
  %p ...

  %h2 Privatsphäre.
  %p ...

  %h2 Feedbackmöglichkeiten.
  %p ...

