%h1= I18n.t('pages.overview.title')
%h2= I18n.t('pages.overview.course_member_list')

- if current_user
  - current_user.get_courses.each do |course|
    %h2= course.title
    = render :partial => 'member', :collection => course.get_course_members
