#static-page
  %h1.balken Spielregeln
  %br
  %h2 Damit Wissen • Teilen • Können funktioniert, wachsen und sich entwickeln kann, muss sich jeder und jede von uns an folgende Spielregeln halten. Wir erwarten von Dir, dass:
  %br
  %p 1. Du Verantwortung für die von Dir initiierten Inhalte und für Dein Verhalten übernimmst!

  %p 2. Du Dich höflich, ehrlich und respektvoll gegenüber Deinen Mitmenschen verhälst! Bei Begegnungen ebenso wie in der Formulierung Deiner Anfragen.

  %p 3. Du Deine wahre Identität angibst!

  %p 4. Du die Plattform weder zu Werbezwecken noch zum Verkauf von Waren oder Dienstleistungen nutzt!

  %p 5. Du die Plattform und Deine Mitmenschen nicht für betrügerische Absichten missbrauchst!

  %p 6. Du dich weder rassistisch, diskriminierend oder hetzerisch äußerst, noch Begegnungen mit Inhalten solcher Art anbietest!

  %p 7. Du das Vertrauen Deiner Mitmenschen nicht verletzt und Dich in Deinem Verhalten verlässlich zeigst!

  %p Wissen • Teilen • Können bietet Raum zur Begegnungsfindung und ist in Keinster Weise verantwortlich für das Zustandekommen, die Inhalte oder den Verlauf der Begegnungen! 




