- unless attend_course_link
  = form_tag({:controller => "course_members", :action => :create}, :method => :post) do
    = hidden_field_tag 'course_id', @course.id
    = submit_tag I18n.t('course.show.course_member_button')
