%h1
  = I18n.t('course.index.headline')
  - if signed_in?
    = link_to I18n.t('course.index.create_course_button'), new_course_path, :id => "create_course_button", :class => "btn"

- @courses.each do |course|
  = link_to course.title, course_path(course)
  = course.description
