%p.intro Hier kannst du stöbern und eine Begegnung finden, bei der du etwas ganz Neues erlernen und gleichzeitig interessante Menschen kennen lernen kannst. Du hast etwas, das du gerne anderen beibringen möchtest? Dann erstelle doch deine eigene Begegnung.

%section.begegnungssearch
  = render :partial => '/shared/search', :locals => {:categories => @categories}

%section.begegnungen

  =render 'shared/begegnung'
  #courses_div
    = render :partial => 'course', :collection => @courses
  =render 'shared/begegnung_new'

