%h1
  = I18n.t('course.new.headline')

=form_for @course do |f|
  = I18n.t('course.new.title')
  =f.text_field :title 
  %br
  = I18n.t('course.new.description')
  =f.text_area :description
  %br
  =f.submit I18n.t('course.new.submit')
