@import "bootstrap.css.scss";
@import "wissenteilen.css.scss";

#landing_page {
    background: url(landingpage/layout-body-bg.jpg);

    #header {
        height: 499px;
        background: url(landingpage/layout-header-bg.jpg);

        #header_content {
            height: 499px;
            background: url(landingpage/layout-header-all.jpg) no-repeat center top;

            #hallo, #hallo:before, #hallo:after {
                width: 600px;
                height: 95px;
                background: #327679;
                content: "";
                display: block;
                @include rounded(5px);
            }

            #hallo {
                margin: 0 auto;
                position: relative;
                top: 440px;
                z-index: 10;
            }
            #hallo:before {
                @include rotate(1deg);
                @include transparancy(0.5);
                z-index: 9;
                margin: 0 0 0 5px;
            }
            #hallo:after {
                @include rotate(-1deg);
                @include transparancy(0.5);
                z-index: 8;
                margin: -95px 0 0 5px;
            }
            #hallo_content {
                width: 600px;
                height: 105px;
                margin: 0 auto;
                position: relative;
                top: 367px;
                z-index: 25;
                font-size: 50px;
                line-height: 50px;
                font-family: "League_Gothic";
                text-align: center;
                color: white;
            }
            #hand_wrapper {
                position: relative;
                width: 232px;
                height: 450px;
                top: -848px;
                margin: 0 auto;
                @include rotate(20deg);

                #hand {
                    position: relative;
                    left: 40px;
                    width: 232px;
                    height: 202px;
                    z-index: 20;
                    background: url(landingpage/layout-header-hand-back.png) no-repeat;

                }
                #hand_overlay {
                    position:relative;
                        top: -202px;
                        left: 40px;
                        width: 232px;
                        height: 202px;
                        z-index: 22;
                        background: url(landingpage/layout-header-hand.png) no-repeat;
                    }
                #logo {
                    position: relative;
                    top: -262px;
                    background: url(layout-logo.png);
                    width: 282px;
                    height: 259px;
                    z-index: 21;
                }
            }
            #wir_wrapper {
                position: relative;
                top: 200px;

            }
        }

    }
    #content {
        width: 800px;
        margin: 80px auto 0 auto;
        text-align: center;

        h1 {
            font-size: 37pt;
            font-family: "League_Gothic";
            color: #587e81;
        }

        p {
            font-size: 12pt;
            line-height: 23px;
            padding: 10px 30px;;
            font-family: "Merriweather-Regular";
        }

        .spacer {
            margin: 15px auto;
            width: 500px;
            height: 20px;
            background: url(landingpage/layout-divider.png) no-repeat;
        }

        #newsletter {
            width: 600px;
            margin: -50px auto 0 auto;
            #email_field {
                width: 410px;
                float:left;
                #newsletter_subscriber_email {
                    height: 41px;
                    width: 410px;
                    font-size: 25px;
                }
                .message {
                    color: red;
                }
            }
            #email_button {
                width: 175px;
                float:right;
            }
            img {
                position: relative;
                top: 10px;
                left: 360px;
            }

        }
    }

    #footer {
        width: 600px;
        margin: 150px auto 0 auto;
        padding-bottom: 200px;

        p {
            margin: 7px 0;
            font-size: 10px;
        }

        #fb, #email {
            width: 270px;
        }
        #fb {
            float: left;
            img {
                float:left;
                margin-right: 15px;
            }
        }
        #email {
            float:right;
            text-align: right;
        }
    }

    .alert {
        margin-bottom:40px!important;
    }

}