@import "public/wissenteilen.css.scss";

// Buttons
.wtkbtn_green, .wtkbtn_blue {
  height: 53px;
  font-family: "LeagueGothicRegular";
  font-size: 34px;
  line-height: 57px;
  color: white;
  padding: 0 15px;
  border: none;
  display: block;
  @include rounded(4px);
}
.wtkbtn_green {
  background: url("button-green-main.png") repeat-x;
}
.wtkbtn_blue {
  background: url("button-petrol-main.png") repeat-x;
}
.wtkbtn_green:hover, .wtkbtn_blue:hover {
  background-position: 0px -53px;
}

#landing_page {
    background: url(landingpage/layout-body-bg.jpg);

    #header {
        height: 499px;
        background: url(landingpage/layout-header-bg.jpg);


        #header_content {
            height: 499px;
            background: url(landingpage/layout-header-all.jpg) no-repeat center top;

            #hallo, #hallo:before, #hallo:after {
                width: 600px;
                height: 95px;
                background: #327679;
                content: "";
                display: block;
                @include rounded(5px);
            }

            #hallo {
                margin: 0 auto;
                position: relative;
                top: 440px;
                z-index: 10;
            }
            #hallo:before {
                @include rotate(1deg);
                @include transparancy(0.5);
                z-index: 9;
                margin: 0 0 0 5px;
            }
            #hallo:after {
                @include rotate(-1deg);
                @include transparancy(0.5);
                z-index: 8;
                margin: -95px 0 0 5px;
            }
            #hallo_content {
                width: 600px;
                height: 60px;
                margin: 0 auto;
                position: relative;
                top: 367px;
                z-index: 25;
                font-size: 62px;
                line-height: 40pt;
                font-family: "ChunkFiveRomanRegular";
                text-align: center;
                color: white;
                text-shadow: rgba(0, 0, 0, .2) 0px 3px 0px;

                div {
                  display: inline-block;
                  width: 75px;
                  text-align:center;
                  zoom: 1;
                  *display:inline;
                }
            }
            #hand_wrapper {
                z-index: 20;
                position: relative;
                width: 1px;
                height: 450px;
                top: -560px;
                left: -117px;
                margin: 0 auto;

                #hand {
                    position: relative;
                    left: 40px;
                    width: 232px;
                    height: 202px;
                    z-index: 20;
                    background: url(landingpage/layout-header-hand-back.png) no-repeat;

                }
                #hand_overlay {
                    position:relative;
                        top: -202px;
                        left: 40px;
                        width: 232px;
                        height: 202px;
                        z-index: 22;
                        background: url(landingpage/layout-header-hand.png) no-repeat;
                    }
                #logo {
                    position: relative;
                    top: -262px;
                    background: url(landingpage/layout-logo.png);
                    width: 282px;
                    height: 259px;
                    z-index: 21;
                }
            }



            #activities {
              position: relative;
              top: -605px;
              height: 2px;
              width: 2px;
              margin: 0 auto;

              #wir_wrapper {
                position: relative;
                top: 13px;
                left: 156px;
                width: 171px;
                height: 148px;
                #wir {
                  z-index: 50;
                  position: relative;
                  left: 45px;
                  top: 35px;
                  width: 75px;
                  height: 82px;
                  background: url(landingpage/layout-header-wir-typo.png) no-repeat;
                }
                #face_1, #face_2, #face_3, #face_4 {
                  position: relative;
                  width: 60px;
                  height: 60px;
                }
                #face_1 {
                  background: url(landingpage/layout-header-wir-fraenk.png) no-repeat;
                  top: -35px;
                  left: 56px;
                }
                #face_2 {
                  background: url(landingpage/layout-header-wir-wolfgang.png) no-repeat;
                  top: -99px;
                  left: 56px;
                }
                #face_3 {
                  background: url(landingpage/layout-header-wir-matthias.png) no-repeat;
                  top: -165px;
                  left: 54px;
                }
                #face_4 {
                  background: url(landingpage/layout-header-wir-lilli.png) no-repeat;
                  top: -220px;
                  left: 49px;
                }
              }

              #egg {
                position: relative;
                top: 3px;
                left: -547px;
                width: 241px;
                height: 110px;
                background: url(landingpage/layout-header-egg.png) no-repeat;


                #egg_typo {
                  position: relative;
                  left: 94px;
                  width: 146px;
                  height: 73px;
                  background: url(landingpage/layout-header-typo.png) no-repeat;
                }
              }
              #urban {
                position: relative;
                top: -108px;
                left: -250px;
                width: 109px;
                height: 72px;
                background: url(landingpage/layout-header-urban.png) no-repeat;

                #urban_typo {
                  position: relative;
                  top: 49px;
                  left: -10px;
                  width: 165px;
                  height: 97px;
                  background: url(landingpage/layout-header-urban-typo.png) no-repeat;
                }
              }
              #robo_wrapper{
                position: relative;
                top: -239px;
                left: 439px;
                width: 143px;
                height: 135px;

                #robo_dance {
                  position: relative;
                  width: 143px;
                  height: 65px;
                  background: url(landingpage/layout-header-robo-typo.png) no-repeat;

                  #robo_shoe {
                    position: relative;
                    top: 80px;
                    left: 18px;
                    width: 110px;
                    height: 69px;
                    background: url(landingpage/layout-header-robo-shoe.png) no-repeat;
                  }
                }
              }
              #fb_sign {
                position: relative;
                top: 52px;
                left: -410px;
                width: 45px;
                height: 37px;
                background: url(landingpage/layout-header-facebook.png) no-repeat;
              }
              #faultier {
                @include transform_origin(25% 25%);
                position: relative;
                top: -162px;
                left: -511px;
                width: 93px;
                height: 89px;
                background: url(landingpage/layout-header-faultier.png) no-repeat;
              }
              #light {
                position: relative;
                top: -639px;
                left: 143px;
                width: 104px;
                height: 64px;
                background: url(landingpage/layout-header-light.png) no-repeat;
              }
              #the_dot {
                z-index: 18;
                position: relative;
                top: -337px;
                left: -55px;
                width: 48px;
                height: 48px;
                background: url(landingpage/layout-header-thedot.png) no-repeat;
              }
           }
        }
    }
    #content {
        width: 600px;
        margin: 80px auto 0 auto;
        text-align: center;

        h1 {
            font-size: 58px;
            font-family: "LeagueGothicRegular";
            color: #587e81;
            line-height: 58px;
            padding: 10px 0 36px 0;
        }

        p {
            font-size: 15px;
            line-height: 25px;
            padding: 10px 0 ;
            font-family: "MerriweatherRegular";
            text-shadow: white 0px 2px 0px;
        }

        .spacer {
            margin: 15px auto;
            width: 500px;
            height: 20px;
            background: url(landingpage/layout-divider.png) no-repeat;
        }
        #newsletter {
          height: 110px;
          img {
            position: relative;
            left: 340px;
            top: -15px;
          }
          #newsletter_form {
              position: relative;
              top: -50px;
              width: 600px;
              margin: 0 auto;
              #email_field {
                  float:left;
                  #newsletter_subscriber_email {
                      font-family: "MerriweatherRegular";
                      height: 50px;
                      line-height: 48px;
                      width: 350px;
                      font-size: 25px;
                      padding: 0 15px ;
                      @include rounded(3px);
                      border:1px solid #bbbbbb;
                      color:#777777;
                      &:focus{
                        border: 1px solid #aaaaaa;
                        @include shadow
                      }
                  }
                  
                  .message {
                    font-size: 12px;
                    line-height: 20px;
                    font-family: "MerriweatherRegular";
                    display: block;
                    border: 1px solid #111111;
                    width: 370px;
                    margin-top: 2px;
                    padding: 5px;
                    color: #B94A48;
                    background-color: #F2DEDE;
                    border-color: #EED3D7;

                  }
              }
              #email_button {
                  width: 210px;
                  float:right;
                  .wtkbtn_green {
                    width: 210px;
                  }
              }
          }
        }
    }

    #footer {
        width: 600px;
        margin:80px auto 0 auto;
        padding-bottom: 150px;

        p {
          padding-top: 8px;
          font-size: 12px;
          line-height: 20px;
          font-family: "MerriweatherRegular";
        }

        #fb, #email {
            width: 290px;
        }
        #fb {
            float: left;
           .wtkbtn_blue{
              padding:4px 5px;
              width: 44px;
              height:45px;
              float:left;
              margin-right:10px;
            }
        }

        #email {
            float:right;
            text-align: right;
        }
    }

    .alert {
        margin: 20px 0;
        border: 1px solid #111111;
        width: 580px;
        padding: 10px;
        @include rounded(3px);
    }

    .alert-error {
      color: #B94A48;
      background-color: #F2DEDE;
      border-color: #EED3D7;
    }

    .alert-info {
      color: #468847;
      background-color: #DFF0D8;
      border-color: #468847;
    }
}
