// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap.css.scss";

@font-face {
  font-family: "ChunkFive"; 
  src: url(Chunkfive.otf); 
}

@font-face {
  font-family: "Merriweather-Regular"; 
  src: url(Merriweather-Regular.ttf); 
}

@font-face {
  font-family: "Merriweather-Black";
  src: url(Merriweather-Black.ttf);
}

@font-face {
  font-family: "Merriweather-Bold";
  src: url(Merriweather-Bold.ttf);
}

@font-face {
  font-family: "Merriweather-Light"; 
  src: url(Merriweather-Light.ttf); 
}

@font-face {
  font-family: "League_Gothic"; 
  src: url(League_Gothic.otf); 
}

*{
  margin: 0;
}

h1 {
  font-size: 37pt;
  font-family: "League_Gothic";
  color: #587e81;
}

p {
  font-size: 12pt;
  font-family: "Merriweather-Regular";
}

body {
  background: url(layout-body-bg.jpg)
}

.container {
  width: 100%;
  text-align: center;  
}

.with-margin {
    margin: 10px 0;
}

#welcome-page {
  z-index: -10;
  text-align: center;
  margin: 0 auto;
  background: #2E2A27 url(layout-header-bg.jpg);
  width: 100%;

    #newsletter-box {
      text-align: center;
        form {
            @extend .form-inline;
            @extend .well;
            #newsletter-center {
                margin: 5px auto;
                width: 500px;
            }
        }
        .submit_btn {
            @extend .btn-success;
        }

        .message {
            float:right;
            width: 350px;
            color: #f00;
        }
    }
}

#hand {
  position: absolute;
  top: -190px;
  left: 600px;

  width: 232px;
  height: 202px;
}

#layout-logo {
  position: absolute;
  top:  -60px;
  left: -600px;

  width: 282px;
  height: 259px;
}

#egg {
  position: absolute;
  top: -1250px;
  left: -1600px;


  width: 100px;
  height: 100px;
}

#layout-header {
  min-width: 680px;
}

#hallo-wrapper {
  position: relative;
  top: -40px;
  height: 80px;
  width: 100%;
  text-align: center;  
}

#hallo {
  z-index: 1000;
  width: 400px;
  height: 80px;
  background: #587e81;
  margin: 0 auto;
}

#fb-sign {
  text-align: center;
  vertical-align: middle;
  width: 50px;
  height: 50px;
  background: #587e81;
  -webkit-box-shadow: 0px 0px 0px 3px  rgba(88, 126, 129, 0.9);
  -moz-box-shadow: 0px 0px 0px 3px  rgba(88, 126, 129, 0.9);
  box-shadow: 0px 0px 0px 3px  rgba(88, 126, 129, 0.9);
  -khtml-box-shadow: 0px 0px 0px 3px rgba(88, 126, 129, 0.9);
}


// ########################################
// /* Experiment */
// ########################################

.box-round {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -khtml-border-radius: 3px;
}

.box-shadow {
  -webkit-box-shadow: 0px 0px 0px 3px  rgba(88, 126, 129, 0.5);
  -moz-box-shadow: 0px 0px 0px 3px  rgba(88, 126, 129, 0.5);
  box-shadow: 0px 0px 0px 3px  rgba(88, 126, 129, 0.5);
  -khtml-box-shadow: 0px 0px 0px 3px rgba(88, 126, 129, 0.5);
}

.box-shadow::before, .box-shadow::after{
  -webkit-box-shadow: 0 15px 4px rgba(88, 126, 129, 0.8);
  -moz-box-shadow: 0 15px 4px rgba(88, 126, 129, 0.8);
  box-shadow: 0 15px 4px rgba(88, 126, 129, 0.7);
  position: absolute;
  bottom: 18px;
  z-index: -1;
  width: 400px;
  height: 80px;
  content: "";
  background: rgba(88, 126, 129, 0.5);
}

.box-shadow::before{
  -webkit-transform: rotate(1deg);
  -moz-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  transform: rotate(1deg);
  right: auto;
  left: 5px;
}

.box-shadow::after{
  -webkit-transform: rotate(-1deg);
  -moz-transform: rotate(-1deg);
  -o-transform: rotate(-1deg);
  transform: rotate(-1deg);
  right: auto;
  left: 5px;
}
