// Mixins
@mixin rounded($radius: 0.5em) {
    -webkit-border-radius: $radius;
    -moz-border-radius: $radius;
    border-radius: $radius;
}

@mixin rotate($deg: 0deg) {
    -webkit-transform: rotate($deg);
    -moz-transform: rotate($deg);
    -ms-transform: rotate($deg);
    -o-transform: rotate($deg);
    transform: rotate($deg);
}

@mixin transparancy($float: 0) {
    filter: alpha(opacity=$float*100);
    -khtml-opacity: $float;
    -moz-opacity: $float;
    opacity: $float;
}

@mixin transform_origin($x: 50%, $y: 50%) {
  transform-origin:$x $y;
  -ms-transform-origin:20% 40%; /* IE 9 */
  -webkit-transform-origin:20% 40%; /* Safari and Chrome */
  -moz-transform-origin:20% 40%; /* Firefox */
  -o-transform-origin:20% 40%; /* Opera */
}

@mixin shadow($color: rgba(0,0,0, 0.2), $px_left: 0px, $px_top: 0px, $blur: 6px, $spread:0  ){ 
  -webkit-box-shadow: $px_left $px_top $blur $spread $color;
  box-shadow: $px_left $px_top $blur $spread $color;
}

// Misc
* {
  margin: 0;
  padding: 0;
}

.clr {
  clear: both;
}

// Fonts
@font-face {
  font-family: 'ChunkFiveRomanRegular';
  src: url('chunkfive-webfont.eot');
  src: url('chunkfive-webfont.eot?#iefix') format('embedded-opentype'),
  url('chunkfive-webfont.woff') format('woff'),
  url('chunkfive-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'LeagueGothicRegular';
  src: url('League_Gothic-webfont.eot');
  src: url('League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
  url('League_Gothic-webfont.woff') format('woff'),
  url('League_Gothic-webfont.ttf') format('truetype'),
  url('League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MerriweatherHeavy';
  src: url('merriweather-black-webfont.eot');
  src: url('merriweather-black-webfont.eot?#iefix') format('embedded-opentype'),
  url('merriweather-black-webfont.woff') format('woff'),
  url('merriweather-black-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MerriweatherBold';
  src: url('merriweather-bold-webfont.eot');
  src: url('merriweather-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('merriweather-bold-webfont.woff') format('woff'),
  url('merriweather-bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MerriweatherLight';
  src: url('merriweather-light-webfont.eot');
  src: url('merriweather-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('merriweather-light-webfont.woff') format('woff'),
  url('merriweather-light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MerriweatherRegular';
  src: url('merriweather-regular-webfont.eot');
  src: url('merriweather-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('merriweather-regular-webfont.woff') format('woff'),
  url('merriweather-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'OpenSansRegular';
  src: url('opensans-regular-webfont.eot');
  src: url('opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('opensans-regular-webfont.woff') format('woff'),
  url('opensans-regular-webfont.ttf') format('truetype'),
  url('opensans-regular-webfont.svg#OpenSansRegular') format('svg');
  font-weight: normal;
  font-style: normal;

}

h1, h2, h3, h4 {
  font-family: "LeagueGothicRegular", Helvetica, Arial, sans-serif;
  color: #587e81;
  font-weight: normal;
}

p {
  font-family: "MerriweatherRegular", Georgia, serif;
  font-size: 15px;
  line-height: 25px;
}

a, a:link, a:visited{
  color:#587e81;
  text-decoration:none;
  font-weight:normal;
}

a:hover{
  text-decoration:underline;
}

// Buttons
.wtkbtn_green, .wtkbtn_blue {
    height: 53px;
    font-family: "LeagueGothicRegular";
    font-size: 34px;
    line-height: 57px;
    color: white;
    padding: 0 15px;
    border: none;
    display: block;
    @include rounded(4px);
}
.wtkbtn_green {
    background: url("button-green-main.png") repeat-x;
}
.wtkbtn_blue {
    background: url("button-petrol-main.png") repeat-x;
}
.wtkbtn_green:hover, .wtkbtn_blue:hover {
    background-position: 0px -53px;
}

// Top
#nav {
  height: 49px;
  width: 100%;
  background: url('layout-nav-bg.jpg') repeat-x;

  #navbar {
    height: 49px;
    width: 940px;
    margin: 0 auto;

    #navbar-left, #navbar-right {
      width: 400px;
      text-transform: uppercase;

      ul {
        background:url('layout-nav-seperator.png') no-repeat top left;
        li {
          font-family: "OpenSansRegular";
          font-size: 14px;
          display: inline;
          list-style: none;
          height: 49px;
          line-height: 49px;
          background:url('layout-nav-seperator.png') no-repeat top right;
          padding: 15px;

          a, a:link, a:visited{
            color:#a1a1a1;
            text-decoration:none;
            font-weight:normal;
          }
          a:hover{
            color: #ffffff;
          }
        }
      }
    }
    #navbar-left {
      float: left;
    }
    #navbar-right, #navbar-right ul {
      float: right;
    }
  }
  #logo {
    width: 141px;
    height: 130px;
    margin: -32px auto 0 auto;
    background: url('layout-logo.png') no-repeat;
  }
}

// Content
#content {
  width: 940px;
  margin: 100px auto 0 auto;
}

// Footer
.copyright {
    text-align: center;
}
