%p
  Hallo #{@resource.first_name},
%p du hast das Passwort für deinen Account bei Wissen • Teilen • Können vergessen. 
%p Kein Problem. Klicke auf folgenden Link und trage ein neues Passwort ein.
%p Falls die Anfrage zur änderung Deines Passwortes nicht von Dir kommt, ignoriere diese Mail.
%p Liebsten Gruß
%p Wissen • Teilen • Können
%p
%p= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token)
